{% extends 'layout.html' %}

{% block content %}
<div id="iGGymImg">
    <img src="/static/images/eyeCatch.jpg">
</div>
<div id="iGSlogan">
    <img src="/static/images/igslogan.jpg">
</div>
<div class="mainScroll">
    <div id="headline">
        <h1>DO NOT START ANOTHER DIET!</h1>
    </div>
    <div id="popUpLeft" class="popUpInfo">
        <h2>95% of all those who lose weight gain it all back
        after just 36 months...</h2>
    </div>
    <div id="popUpRight" class="popUpInfo">
        <h2>...and 2/3rds of those gain even more weight back
        than they lost!</h2>
    </div>
    <div id="igBio">
        <h1>STOP DIETING AND START MAKING PROGRESS!</h1>
        <div class="flex">
            <img src="/static/images/igwhite.png">
            
             <p>
                 Inside my Personal Training Program, based at my
                 Hartlepool gym, I educate people on how to lose weight
                 successfully, long term, just like I did nearly 20
                 years ago when I lost over 100lbs and kept it off
                 for nearly two decades
                 <br><br>
                 I have helped hundreds if not thousands of people just like you transform
                 their lives, now it's your turn
                 <br><br>
                 You no longer have to struggle. I'm going to help you transform your mindset
                 on weight loss and your life. All you have to do is apply for a consultation now
             </p>
            
        </div>

    </div>
    <div id="igChange">
        <h1>STRENGTHEN YOUR BODY, STRENGTHEN YOUR MIND!</h1>
        <div class="flex">
            <img src="/static/images/igblack.png">
            <p>
                Out of all the gyms in <b>Hartlepool</b> how do you choose who is the right <b>Gym</b>
                to be able to help you?
                <br><br>
                We believe its <b>RESULTS</b> and we are so confident in bringing you results that we are 
                the only gym in Hartlepool that offers a full money back <b>GUARANTEE!</b>
                <br><br>
                Our leading Hartlepool Personal Training and Bootcamp fitness programs are brought to you 
                by Hartlepool's most successful Personal Trainer and Coach Ian Glass who is also the founder, 
                owner and day to day operator of Ian Glass Fitness which is Hartlepool's longest established 
                fitness gym business
            </p>
           
        </div>
    </div>
    <div id="bookConsult">
        <h2>Book Consultation!</h2>    
        
        <form action="{{ url_for('formSuccess') }}" method="post">
            <input type="text" id="name" name="name" placeholder="Name">
            <input type="email" id="email" name="email" placeholder="Email">
            <input type="submit">
        </form>
    </div>
</div>
{% endblock %}
